

.optionContainer{
    align-items: flex-start;
    display:flex;
    flex-direction: column;
    padding-left: 100px;

}

img{
    height:50px;
    width: 50px;
}

.optionContainer a{
    display: block;
    margin: 12px 0;
    text-decoration: none;
    color: black;
    font-size: x-large;
}

#explore{
  font-weight: bold;  
}

